*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
  background-size: cover;
  background-position: center;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('background.jpg');
    background-size: cover;
    background-position: center;
}
.about{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 50%;
  display: inline-block;
}
.experience{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 50%;
  display: inline-block;
}
.projects{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 50%;
  display: inline-block;  
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  height: auto;
}
.content h1{
  font-size: 25px;
  margin-top: 100px;
  color: rgb(180, 126, 33);
  font-family:monospace;
}
.about h2{
  font-size: 25px;
  color: rgb(180, 126, 33);
  font-family:monospace;
}
.experience h2{
  font-size: 25px;
  color: rgb(180, 126, 33);
  font-family:monospace;
}
.projects h2{
  font-size: 25px;
  color: rgb(180, 126, 33);
  font-family:monospace;
}
.about p1{
  color: #fff;
  font-family:monospace;
}
.about p2{
  color: #fff;
  font-family:monospace;
  font-size: 20px;
}
.about p3{
  color: rgb(180, 126, 33);
  font-family:monospace;
  font-size: 20px;
}
.experience p1{
  color: #fff;
  font-family:monospace;
}
.experience p2{
  color: #fff;
  font-family:monospace;
  font-size: 20px;
}
.experience p3{
  color: rgb(180, 126, 33);
  font-family:monospace;
  font-size: 20px;
}
.experience p4{
  color: rgb(33, 117, 105);
  font-family:monospace;
  font-size: 20px;
}
.projects p1{
  color: #fff;
  font-family:monospace;
}
.projects p2{
  color: #fff;
  font-family:monospace;
  font-size: 20px;
}
.projects p3{
  color: rgb(180, 126, 33);
  font-family:monospace;
  font-size: 20px;
}
.projects p4{
  color: rgb(33, 117, 105);
  font-family:monospace;
  font-size: 20px;
}
.content p1{
  color: #fff;
  font-family:monospace;
}
.content p{
  margin: 50px auto;
  font-weight: 10;
  line-weight: 25px;
  text-align: center;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}
#nav-toggle {
  position: absolute;
}
.icon-burger{
  position: absolute;
  right: 1rem;
  top: .75rem;
  display: none;
  color: #fff;
}
@media screen and (max-width: 600px){
  .icon-burger{
    display: flex;
  }
  .navbar{
    flex-direction: column;
    width: 100%;
  }
  .nav-ul{
    display: none;
    flex-direction: column;
    width: 100%;
    text align: center;
  }
  .navbar ul li{
    text-align: center;
  }
  .nav-ul.active{
    display: flex;
  }
}
